
@font-face {
    font-family: "Lato-Black";
    src: url("Lato-Black.ttf");
}
    

@font-face {
    font-family: "Lato-Bold";
    src: url("Lato-Bold.ttf");
}

html, body {
    height: 100%;
    font-size: 12pt;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;;

    background-color: beige;

    font-family: 'Lato-Bold', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;   
}

#intro {
    width: 50%;

    border: 0.5rem black solid;
    padding: 0.5rem;
    background-color: white;
    cursor: pointer;

    transition-property: width;
    transition-delay: 2s;

    box-shadow: 10px 10px burlywood ;
}

#intro #image {
    width: 300px;
    height: 300px;
    float: left;
    padding-right: 0.5rem;
    border-right: 0.5rem solid black;;
}

#image div {
    
    background-color: green;
    width: 100%;
    height: 100%
}

#intro-text {
    float: right;
    height: 300px;
    width: calc(100% - 300px - 0.5rem);
    background-color: red;
    margin-left: 0.5rem;
    padding: 0.2rem;


    font-family: 'Lato-Black', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;      
}

#intro::after {
    clear:both;
    content: "";
    display: block;
}

footer {
    font-size: 10pt;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 10px
}

.hr {
    width: 100%;
    border-top: 1px solid black;
}