<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <h1>Übersicht</h1>
    <div class="hr"></div>
    
    <footer>
    Josef Biehler | Impressum | gabbersepp@googlemail.com
    </footer>

    <script>
        document.getElementById("intro").addEventListener("click", () => {
            document.location = "overview.html"
        })
    </script>
</body>
</html>