@import "_config";

.drawings {
    h1 {
        text-align: center;
    }
    background-color: white;
}

.drawing-tile {
    cursor: pointer;
    width: $min-size * 40;
    height: $min-size * 40;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
        max-width: $min-size * 38;
        max-height: $min-size * 38;
    }

    .description {
        width: 100%;
        padding: $min-size;
        font-size: $min-size * 1.5;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}