@import "_config";
@import "social";
@import "main";
@import "codecloud";
@import "overview";
@import "contributions";
@import "tiles";
@import "drawingtiles";
@import "devtoTile";
@import "projects";
@import "publications";
@import "speaker";

@font-face {
    font-family: 'bj';
    src: url('/assets/bj.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }


@font-face {
    font-family: "Monda-Regular";
    src: url("assets/Monda-Regular.ttf");
}

@font-face {
    font-family: "Monda-Bold";
    src: url("assets/Monda-Bold.ttf");
}
@font-face {
    font-family: "Courgette-Regular";
    src: url("assets/Courgette-Regular.ttf");
}

html, body {
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-family: "Monda-Regular";
    color: $dark;
    width: 100%;
    height: 100%;
    background-color: $light;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clickable {
    cursor: pointer;
}

.half-content {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    //height: 100%;
    background-color: white;
    padding-bottom: $min-size * 4;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: white;
}

.btn {
    width: $min-size * 30;
    padding: $min-size;
    cursor: pointer;
    text-align: center;
    //box-shadow: 0px 0px 5px $secondary;
    border: 1px solid #cc6a78;
    background-color: white;

    &:hover {
        background-color: $secondary;

        a {
            color: $light;
        }
    }  

    a {
        text-decoration: none;
        color: $secondary;
        display: inline-block;
        width: 100%;
    }

    &.attention {
        background-color: $secondary;

        a {
            color: $light;
        }
    }

    &.clear {
        border: none;
        &:hover {
            background-color: $secondary;

            a {
                color: $light;
            }
        }        
    }
}

@import "index-breakpoints";