@media(max-width: $handy-max-width) {
    .half-content.main {
        .intro {
            flex-direction: column;
        }

        .call-to {
            width: 90%;
        }
    }

    footer {
        font-size: $min-size;
    }
}

@media(max-width: $tablet-portrait-max-width) {
    .code-in-cloud {
        display: none;
    }
}