@import "_config";

.social-nav {
    background-color: $secondary;
    display: inline-block;
    padding-top: $min-size;
    padding-left: $min-size;
    padding-bottom: $min-size;
    border-radius: $min-size;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;

    .icons {
        font-family: "bj";
        a {
            text-decoration: none;
            display: block;
            width: $min-size * 3;
            margin: $min-size * 0.5;
        }
        *[class*='icon'] {
            height: $min-size * 3;
            width: $min-size * 3;
            margin-right: $min-size;
            color: $light;
        }

        .icon-wrench:before { content: '\e800'; }
        .icon-phone:before { content: '\e801'; }
        .icon-twitter:before { content: '\f099'; }
        .icon-facebook:before { content: '\f09a'; }
        .icon-github-circled:before { content: '\f09b'; }
        .icon-envelope-open:before { content: '\f2b6'; }
    }
}