<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./../index.css">
</head>
<body>
    <header>
        <h1>Übersicht</h1>
        <div class="hr"></div>
    </header>

    <div id="tiles">
        <div class="tile">
            <div class="category">
                <div class="title">Blog posts about coding stuff</div>
                <div class="img coding-background"><img src="code-background.jpg"></div>
            </div>
        </div>
        <div class="tile">
            <div class="category">
                <div class="title">Blog posts about coding stuff</div>
                <div class="img coding-background"><img src="code-background.jpg"></div>
            </div>
        </div>
        <div class="tile">
            <div class="category">
                <div class="title">Blog posts about coding stuff</div>
                <div class="img coding-background"><img src="code-background.jpg"></div>
            </div>
        </div>
        <div class="tile">
            <div class="category">
                <div class="title">Blog posts about coding stuff</div>
                <div class="img coding-background"><img src="code-background.jpg"></div>
            </div>
        </div>
        <div class="tile">
            <div class="category">
                <div class="title">Blog posts about coding stuff</div>
                <div class="img coding-background"><img src="code-background.jpg"></div>
            </div>
        </div>
        <div class="tile">
            <div class="category">
                <div class="title">Blog posts about coding stuff</div>
                <div class="img coding-background"><img src="code-background.jpg"></div>
            </div>
        </div>
        <div class="tile">
            <div class="category">
                <div class="title">Blog posts about coding stuff</div>
                <div class="img coding-background"><img src="code-background.jpg"></div>
            </div>
        </div>
        <div class="tile">
            <div class="category">
                <div class="title">Blog posts about coding stuff</div>
                <div class="img coding-background"><img src="code-background.jpg"></div>
            </div>
        </div>
        <div class="tile">
            <div class="category">
                <div class="title">Blog posts about coding stuff</div>
                <div class="img coding-background"><img src="code-background.jpg"></div>
            </div>
        </div>
        <div class="tile">
            <div class="category">
                <div class="title">Blog posts about coding stuff</div>
                <div class="img coding-background"><img src="code-background.jpg"></div>
            </div>
        </div>
        <div class="tile">
            <div class="category">
                <div class="title">Blog posts about coding stuff</div>
                <div class="img coding-background"><img src="code-background.jpg"></div>
            </div>
        </div>
        <div class="tile">
            <div class="category">
                <div class="title">Blog posts about coding stuff</div>
                <div class="img coding-background"><img src="code-background.jpg"></div>
            </div>
        </div>
        <div class="tile">
            <div class="category">
                <div class="title">Blog posts about coding stuff</div>
                <div class="img coding-background"><img src="code-background.jpg"></div>
            </div>
        </div>
        <div class="tile">
            <div class="category">
                <div class="title">Blog posts about coding stuff</div>
                <div class="img coding-background"><img src="code-background.jpg"></div>
            </div>
        </div>
        
    </div>

    <footer>
    Josef Biehler | Impressum | gabbersepp@googlemail.com
    </footer>

    <script>
        document.querySelectorAll(".category-wrapper").forEach(e => {
            const href = [...e.classList][1];
            e.addEventListener("click", () => {
                location = href + "/index.html";
            });
        })
    </script>
</body>
</html>