---
layout: base
pageTitle: Josef Biehler - Blog posts
tileFile: devtoTile.njk
---

<div class="blogposts">
    <h1>Recent Blog Posts</h1>
    {% set data = collections.blogposts %}
    {% include 'tiles.njk' %}
</div>