---
layout: base
pageTitle: Josef Biehler - artist, programmer, writer
---

<div class="heading">
    Josef Biehler
</div>
<div id="intro">    
    <div id="image">
        <img src="/assets/me.jpg">
    </div>
    <div id="intro-text">
        <p>Hello,</p>
        <p>I am a large (1,95m) coding &amp; drawing enthusiast that likes all type of coding and drawing cartoons.</p>
        <p><div id="call-to" class="call-to-btn">Insight into my work</div> <a href="mailto:contact@kack.dev" class="secondary-btn">Contact me</a></p>
    </div>
</div>

<script>
    document.getElementById("call-to").addEventListener("click", () => {
        document.location = "overview/index.html"
    })
</script>