---
layout: base
pageTitle: Josef Biehler - artist, programmer, writer
---

<div id="intro">    
    <div id="image">
        <img src="/assets/me.jpg">
    </div>
    <div id="intro-text">
        <p>Hello,</p>
        <p>I am a large (1,95m) coding & drawing enthusiast that likes all type of coding and drawing cartoons.</p>
        <p>Feel free to continue here and get an insight into my work.</p>
    </div>
</div>

<script>
    document.getElementById("intro").addEventListener("click", () => {
        document.location = "overview/index.html"
    })
</script>