---
layout: base
pageTitle: Josef Biehler - Overview
---

    <div id="categories">
        <div class="category-wrapper dev-blog">
            <div class="img coding-background left">
                <img src="/assets/code-background.jpg">
            </div>
            <div class="text right">
                <div>asda sas daslkaslkas  a jdklas jakkasl das aka a ask akl a jaslaa as dkas a d</div>
            </div>
        </div>
        <div class="category-wrapper drawing">
            <div class="text left">
                <div>asda sas daslkaslkas  a jdklas jakkasl das aka a ask akl a jaslaa as dkas a d</div>
            </div>
            <div class="img right">
                <img src="/assets/katicorn.jpg">
            </div>
        </div>
        <div class="category-wrapper projects">
            <div class="img left">
                <img src="/assets/github.jpg">
            </div>
            <div class="text right">
                <div>asda sas daslkaslkas  a jdklas jakkasl das aka a ask akl a jaslaa as dkas a d</div>
            </div>
        </div>
    </div>

    <script>
    document.querySelectorAll(".category-wrapper").forEach(e => {
        const clazz = e.classList[1];
        e.addEventListener("click", () => document.location = "/" + clazz + "/index.html");
    })
    </script>