---
layout: base
pageTitle: Josef Biehler - Overview
---

    <div id="categories">
        <div class="category-wrapper dev-blog">
            <div class="img coding-background left">
                <img src="/assets/code-background.jpg">
            </div>
            <div class="text right">
                <div>Find all my blog posts, published at <a href="https://dev.to/gabbersepp">dev.to</a>.</div>
            </div>
        </div>
        <div class="category-wrapper drawing">
            <div class="text left">
                <div>In my spare time I try to be a hobby cartoonist. Take a look at my drawings and feel free to leave a comment. They are published at <a href="https://twitter.com/JosefBiehler">Twitter</a>.</div>
            </div>
            <div class="img right">
                <img src="/assets/katicorn.jpg">
            </div>
        </div>
        <div class="category-wrapper projects">
            <div class="img left">
                <img src="/assets/github.jpg">
            </div>
            <div class="text right">
                <div><p>I have several projects at Github. Mostly they are just for test purposes but some of them may also be interesting for you.</p>
                <p>In this section you will find some selected ones.</p></div>
            </div>
        </div>
    </div>

    <script>
    document.querySelectorAll(".category-wrapper").forEach(e => {
        const clazz = e.classList[1];
        e.addEventListener("click", () => document.location = "/" + clazz + "/index.html");
    })
    </script>