---
layout: base
pageTitle: Josef Biehler - artist, programmer, writer - Overview
---
    <div class="content overview">
        <div class="nav">
          <div class="btn"><a href="/index.html">Back</a></div>
        </div>

        <div class="list">

            <div class="list-item">
                <h1>Blog <div class="btn attention"><a href="/dev-blog">More ...</a></h1>
                <div class="body-row">
                    {% for post in collections.postsSlice %}
                    <div class="body">
                        {% set entry = post %}
                        {% include 'devtobodyoverview.njk' %}
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="list-item">
                <h1>Projects <div class="btn attention"><a href="/projects">Continue</a></h1>
                <div class="body-row">
                <div class="body">

                </div>
                <div class="body">

                </div>
                <div class="body">

                </div>
                </div>
            </div>

            <div class="list-item">
                <h1>Drawings <div class="btn attention"><a href="/drawing">Continue</a></h1>
                <div class="body-row">
                <div class="body">

                </div>
                <div class="body">

                </div>
                <div class="body">

                </div>
                </div>
            </div>

            
        </div>
    </div>