---
layout: base
pageTitle: Josef Biehler - Publications
---

  <div  class="content publications section">
          <div class="nav">
          <div class="btn clear"><a href="/index.html">Back</a></div>
        </div>

    <h1>Publications</h1>
    <div class="pub-row">
        <div class="pup-row-caption">Bachelor thesis</div>
        <div>
            <h2>Process optimization of help desk software by classifying business objects into open support requests</h2>
            <article>
                A new support request with undeterministic text content requires a bunch of time to assign specific attributes to it, for example a priority and a category. 
                My bachelor thesis analyzed the theory of Support Vector Machines and how they could be applied to this real world problem.
                It was shown that a SVM can assign those attributes automatically and induce a decrease of the processing time.
            </article>
        </div>
    </div>
</div>