<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if pageDescription !== '' %}
        <meta name="description" content="{{ pageDescription }}">
    {% endif %}
    <link rel="stylesheet" href="/index.css">
    
    <title>{{ pageTitle }}</title>
</head>
<body>

    <header>
    {% include 'social.njk' %}
    </header>

     {{ content | safe }}
    
    <footer>
    Josef Biehler | 015125391868 | gabbersepp@googlemail.com
    </footer>
</body>
</html>
