<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if pageDescription !== '' %}
        <meta name="description" content="{{ pageDescription }}">
    {% endif %}
    <link rel="stylesheet" href="/index.css">
    
    <title>{{ pageTitle }}</title>
</head>
<body>
    <div id="body-within">

    <div id="diagonal">
    </div>

    {% if page.url !== "/" %}

    
    <div id="main-content">
    {% endif %}

        {{ content | safe }}
    
    {% if page.url === "/" %}
    </div>
    {% endif %}
    
    <footer>
    Josef Biehler | 015125391868 | gabbersepp@googlemail.com
    </footer>

    </div>
</body>
</html>
