<div id="tile{{entry.id}}" class="flex flex--column full-height">
    <div class="name flex--1 flex center" title="{{entry.name}}"><div>{{entry.name}}</div></div>
    <div class="description flex--10">{{entry.description}}</div>
    <div class="metadata flex--1">
        <div class="language">{{entry.language}}</div>
        <div class="issues-count">#i {{entry.openIssuesCount}}</div>
        <div class="forks-count">#f {{entry.forksCount}}</div>
        <div class="watchers-count">#w {{entry.watchersCount}}</div>
    </div>
</div>

<script>
    document.querySelector("#tile{{entry.id}}").addEventListener("click", () => {
        window.open(`{{entry.url}}`, '_blank');
    })
</script>