<div class="social-nav">
    <span class="icons">
    <a href="https://www.facebook.com/jodekadev" target="_blank"><i class="icon-facebook"></i></a>
    <a href="https://twitter.com/JosefBiehler" target="_blank"><i class="icon-twitter"></i></a>
    <a href="https://github.com/gabbersepp/" target="_blank"><i class="icon-github-circled"></i></a>
    <a href="mailto:support@biehler-josef.de"><i class="icon-envelope-open"></i></a>
    </span>
</div>