{% if 'project' in page.url %}
    {% set class = 'project-tile' %}
{% endif %}

<div id="tiles">
    {% for entry in data %}
        <div class="tile-wrapper">
            <div class="tile {{class}}">
                {% include tileFile %}
            </div>
        </div>
    {% endfor %}
</div>