<div id="tiles">
    {% for entry in data %}
        <div class="tile-wrapper">
            <div class="tile">
                {% include tileFile %}
            </div>
        </div>
    {% endfor %}
</div>