<div id="tile{{entry.id}}" class="project-tile">
    <div class="edge upper-left"></div>
    <div class="title" title="{{entry.name}}"><div>{{entry.name}}</div></div>
    <div class="description">{{entry.description | markdown | safe }}</div>
    <div class="metadata">
        <div class="language">{{entry.language}}</div>
        <div class="issues-count">#i {{entry.openIssuesCount}}</div>
        <div class="forks-count">#f {{entry.forksCount}}</div>
        <div class="watchers-count">#w {{entry.watchersCount}}</div>
    </div>
    <div class="edge lower-right"></div>
</div>

<script>
    document.querySelector("#tile{{entry.id}}").addEventListener("click", () => {
        window.open(`{{entry.url}}`, '_blank');
    })
</script>