

<div class="tiles">
    <div class="nav">
        <div class="btn clear"><a href="/overview">Back</a></div>
    </div>

    {% for entry in data %}
        <div class="tile-wrapper">
            <div class="tile {{class}}">
                {% include tileFile %}
            </div>
        </div>
    {% endfor %}
</div>