---
layout: base
pageTitle: Josef Biehler - artist, programmer, writer
---
<script src="/assets/wordcloud2.js"></script>
<div id="tag-info"></div>
<div id="cloud">
	<div id="cloud_container1"></div>
    {% include 'tagcloud.njk' %}
    <canvas id="cloud_canvas"></canvas>
</div>

<div class="half-content main">
<div class="portfolio"><span>Port</span><span>folio</span></div>
    <div class="intro">    
        <div class="image">
            <img src="/assets/me2.jpg">
        </div>
        <div class="text">
            <div class="first-line">Hi I am</div>
            <h1 class="heading">Josef Biehler</h1>
            <p>a tall (1,95m) coding & drawing enthusiast that likes all type of coding and drawing cartoons.</p>
            <p>Feel free to continue here and get an insight into my work.</p>
        </div>
    </div>
    <div class="content">

        <div class="call-to">
            <div class="btn attention"><a href="/overview/">Continue reading</a></div>
            <div class="btn code-in-cloud"><a href="/codecloud/">My code in the cloud</a></div>
            <div class="btn"><a href="/contribution">My Github contributions</a></div>
            <div class="btn"><a href="/speaker">My work as speaker</a></div>
            <div class="btn"><a href="/publications">Publications</a></div>
        </div>
    </div>
</div>

<script>

var cloudList = []


var div = document.getElementById("cloud");
var canvas = document.getElementById("cloud_canvas");

canvas.height = div.offsetHeight;
canvas.width  = div.offsetWidth;

var options = 
{
    backgroundColor: "#eef1f9",
  list : cloudList,
  gridSize: Math.round(16 * document.getElementById('cloud_canvas').offsetWidth / 1024),
   color: "#6a89cc",
   rotateRatio: 1,
  weightFactor: function (size) {
    return Math.pow(size, 1.9) * document.getElementById('cloud_canvas').offsetWidth / 1024;
  }
}

let drawBox = function drawBox(e, item, hidden) {
    const div = document.querySelector("#tag-info");

    if (hidden) {
        div.classList.remove("visible")
    } else {
        div.textContent = item[2].text;
        div.classList.add("visible")
        var xy = e.currentTarget.getBoundingClientRect();

        if (xy.left > window.innerWidth - 300) {
            div.style.left = `${xy.left - 300}px`;
        } else {
            div.style.left = `${xy.left+ 100}px`;
        }

        if (xy.top > window.innerHeight - 300) {
            div.style.top = `${xy.top - 100}px`;
        } else {
            div.style.top = `${xy.top}px`;
        }
    }
};

//canvas.addEventListener("wordcloudstop", () => {
         canvas.style.display="none";
        document.querySelectorAll("#cloud_container span").forEach(span => {
            span.addEventListener("mouseover", (e) => {
                drawBox(e, cloudList.find(x => x[0] === e.currentTarget.innerText))
            })

            span.addEventListener("mouseout", (e) => {
                drawBox(e, null, true)
            })
        });
//})


fetch("/assets/cloud-data.txt").then(async response => {
    let data = await response.text();
    data.split(/[\r\n]/).forEach(line => {
        var splits = line.split(";");
        cloudList.push([splits[0], 6, { text: splits[1]}])
    })
    // duplicate to get enough data
    cloudList.push(...cloudList);
    cloudList.push(...cloudList);
    cloudList.push(...cloudList);
    //debugger;
    
    //WordCloud([document.getElementById('cloud_canvas'), document.getElementById('cloud_container')], options);
})

</script>
