$light: #eef1f9;
$darkblue: #223763;
$dark: #090f1a;
$base: #6a89cc;
$secondary: #cc6a78;

$min-size: 0.5rem; // 10px?

// breakpoints
$large-desktop-min-width: 1500px;
$desktop-max-width: 1499px;
$tablet-landscape-max-width: 1200px;
$tablet-portrait-max-width: 900px;
$handy-max-width: 700px;