@import "_config";

.blogposts {
    h1 {
        text-align: center;
        margin-bottom: $min-size * 2;
    }
    background-color: white;
}

.blogpost-tile {
    width: $min-size * 40;
    height: $min-size * 40;
    cursor: pointer;

    .cover-image {
        img {
            width: 100%;
            height: auto;
        }
    }
    
    font-size: $min-size * 1.5;

    .title {
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-family: "Monda-Bold";
        margin-bottom: $min-size;
    }

    .metadata {
        position: relative;

        .tags {
            font-size: $min-size * 2;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .measures {
            padding-right: 5px;
            height: 24px;
            background-color: white;
            border-radius: 20%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
    
            .data {
                display: inline-block;
                padding: 2px;
    
                &:hover {
                    box-shadow: 0 0 10px black;
                    border-radius: 20%;
                }
                
                .icon {
                    background-size: contain;
                    width: 20px;
                    height: 20px;
                    float: left;
    
                    &.heart {
                        background-image: url("/assets/heart.png");
                    }
        
                    &.thumbsup {
                        background-image: url("/assets/thumbsup.png");
                    }
    
                    &.share {
                        background-image: url("/assets/share.png");
                    }
                }
            }
        }
    }

    .btn {
        width: 100%;
    }
}