@import "_config";

.blogposts {
    h1 {
        text-align: center;
        margin-bottom: $min-size * 2;
    }
    background-color: white;
}

.blogpost-tile {
    width: $min-size * 40;
    height: $min-size * 40;
    cursor: pointer;

    .cover-image {
        img {
            width: 100%;
            height: auto;
        }
    }
    
    font-size: $min-size * 1.5;

    .title {
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-family: "Monda-Bold";
        margin-bottom: $min-size;
    }

    .metadata {
        font-size: $min-size * 2;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .btn {
        width: 100%;
    }
}