@use "sass:color";

@font-face {
    font-family: 'bj';
    src: url('/assets/bj.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: "Lato-Black";
    src: url("assets/Lato-Black.ttf");
}
    
@font-face {
    font-family: "Lato-Bold";
    src: url("assets/Lato-Bold.ttf");
}

@font-face {
    font-family: "Lato-Regular";
    src: url("assets/Lato-Regular.ttf");
}

@font-face {
    font-family: "Lato-Light";
    src: url("assets/Lato-Light.ttf");
}

$background: #3A475E;
$light: #eef1f9;
$darkblue: #223763;
$darkestblue: #090f1a;
$lightblue: #dfe6f4;
//$asd: #577ac5;
$lightdarkblue: #3c60ae;
$base: #6a89cc;
$secondary: #cc6a78;

@mixin flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;;
}

.white-background {
    background-color: $light !important;

    #main-content {
        margin-top: 100px;
        height: calc(100% - 100px);
        overflow: auto;
    }
}

.secondary {
    color: $secondary;
}

html, body {
    height: 100%;
    font-size: 20px;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: 'Lato-Regular', sans-serif;
    color: $darkestblue;
}

* {
    box-sizing: border-box;
}

body {
    @include flexcenter();
    background-color: $light;
    overflow: hidden;
    
    #body-within {
        background-color: $background;
        width: 98%;
        height: 98%;
        overflow: hidden;
        @include flexcenter();
 
        #diagonal {
            background-color: $base;
            width: 2000px;
            height: 100%;
            transform: rotate(45deg);
            position: absolute;
        }        
    }
}

@mixin btn {
    border: 1px solid $darkestblue;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    display: inline-block;
    text-decoration: none;

    &:hover {
        box-shadow: 0px 0px 10px $darkestblue;
    }
}
.call-to-btn {
    @include btn();
    background-color: $base;
    color: $light;
}
.secondary-btn {
    @include btn();
    background-color: $light;
    color: $base;
}

.heading {
    color: $light;
    font-size: 60px;
    font-family: "Lato-Light", sans-serif;
    z-index: 100;
}

#intro {
    z-index: 100;
    width: 60%;

    padding: 0.5rem;
    background-color: white;

    transition-property: width;
    transition-delay: 2s;

    border: 5px solid $base;
    
    #image {
        width: 300px;
        height: 300px;
        float: left;
        padding-right: 0.5rem;
        border-right: 0.5rem solid $base;
        
        img {
            width: 100%;
            height: 100%
        }
    }

    #intro-text {
        float: right;
        height: 300px;
        width: calc(95% - 300px - 0.5rem);
        margin-left: 0.5rem;
        padding: 0.2rem;
    
        font-weight:normal;
        font-style:normal; 

        @include flexcenter();
        justify-content: space-around;
    }

    &::after {
        clear:both;
        content: "";
        display: block;
    }
}

footer {
    z-index: 100;
    color: $light;
    font-size: 10pt;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    z-index: 200;
    font-family: 'Lato-Light', serif;
}

#main-content {
    width: 100%;
    height: 100%;
    z-index: 100;
    @include flexcenter();
}

.left {
    float: left;

}

nav {
    background-color: $base;
    color: $light;
    font-family: "bj";
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px;
    border-radius: 20px;
    padding-right: 20px;
    margin-right: -10px;
    z-index: 200;

    .icons {
        font-family: "bj";
        a {
            text-decoration: none;
        }
        *[class*='icon'] {
            height: 30px;
            width: 30px;
            margin-right: 10px;
            color: $light;
        }

        .icon-wrench:before { content: '\e800'; }
        .icon-phone:before { content: '\e801'; }
        .icon-twitter:before { content: '\f099'; }
        .icon-facebook:before { content: '\f09a'; }
        .icon-github-circled:before { content: '\f09b'; }
        .icon-envelope-open:before { content: '\f2b6'; }
    }
}
#categories {
    width: 99%;
    height: 99%;
    //background-color: $light;
    @include flexcenter();
    flex-wrap: wrap;
    font-family: 'Lato-Regular', sans-serif;

    .category-wrapper {
        cursor: pointer;
        //width: 560px;
        height: 230px;
        overflow: hidden;
        @include flexcenter();
        flex-direction: row;
        padding-left: 40px;

        .img {
            position: relative;
            .photo-fake {
                height: 100px;
                width: 100px;
                background-color: $lightblue;
                transform: rotate(10deg);
                position: absolute;
                top: 0;
                z-index: 0;
                border: 1px solid $darkestblue;
            }
            img {
                border: 1px solid $darkestblue;
                position: relative;
                width: 100px;
                height: 100px;
                z-index: 100;
            }
        }
        .text {
            margin: 20px;
            width: 310px;
            padding: 10px;
            border-radius: 20px;
            background-color: $light;
        }
    }
}

.hide {
    display: none !important;
}
.tiles-header {
    width: 100%;
    position: absolute;
    background-color: $base;
    height: 200px;
    position: absolute;
    top: 0;
}
#tiles {
    @include flexcenter();
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;

    .tile-wrapper {
        display: inline-block;

        .tile {
            overflow: hidden;
            margin: 1rem;
            cursor: pointer;
            position: relative;
            height: 200px;
            width: 200px;
        }

        .drawing-tile {
            .img {
                width: 200px;
                max-height: 200px;
                overflow: hidden;
                border: 1px solid $base;
                //border-radius: 50%;
                @include flexcenter();
            }
            img {
                width: 200px;
                height: 200px;
            }
        }
    }
}