@media(max-width: $desktop-max-width) {
    .half-content {
        width: 70%;
    }
}

@media(max-width: $tablet-landscape-max-width) {
    .half-content {
        width: 100%;
        margin: 0;
    }
}

@media(max-width: $small-handy-max-width) {
    html, body {
        font-size: 15px;
    }
}