@import "_config";
@import "social";
@import "main";
@import "codecloud";
@import "overview";

@font-face {
    font-family: 'bj';
    src: url('/assets/bj.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }


@font-face {
    font-family: "Monda-Regular";
    src: url("assets/Monda-Regular.ttf");
}

@font-face {
    font-family: "Monda-Bold";
    src: url("assets/Monda-Bold.ttf");
}

html, body {
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-family: "Monda-Regular";
    color: $dark;
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.half-content {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

footer {
    position: fixed;
    bottom: 0;
}

.btn {
    width: 300px;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0px 0px 5px $secondary;
    background-color: white;

    a {
        text-decoration: none;
        color: $secondary;
    }

    &.attention {
        background-color: $secondary;

        a {
            color: $light;
        }
    }

}