
@font-face {
    font-family: "Lato-Black";
    src: url("assets/Lato-Black.ttf");
}
    

@font-face {
    font-family: "Lato-Bold";
    src: url("assets/Lato-Bold.ttf");
}

html, body {
    height: 100%;
    font-size: 12pt;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;;

    background-color: beige;

    font-family: 'Lato-Bold', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;   
}

#intro {
    width: 50%;

    border: 0.5rem black solid;
    padding: 0.5rem;
    background-color: white;
    cursor: pointer;

    transition-property: width;
    transition-delay: 2s;

    box-shadow: 10px 10px burlywood ;
}

#intro #image {
    width: 300px;
    height: 300px;
    float: left;
    padding-right: 0.5rem;
    border-right: 0.5rem solid black;
    /*display: float;
    justify-content: center;
    align-items: center;*/
}

#image img {
    
    width: 100%;
    height: 100%
}

#intro-text {
    float: right;
    height: 300px;
    width: calc(100% - 300px - 0.5rem);
    margin-left: 0.5rem;
    padding: 0.2rem;


    font-family: 'Lato-Black', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;      
}

#intro::after {
    clear:both;
    content: "";
    display: block;
}

footer {
    font-size: 10pt;
    text-align: center;
    width: 100%;
    position: sticky;
    bottom: 0px;
    background-color: beige;
    padding-bottom: 10px;
    z-index: 200;
}

header {
    text-align: center;
    width: 100%;
    top: 0px;
    background-color: beige;
    z-index: 200;
    height: 100px;
}

#main-content {
    height: calc(100% - 100px);
    overflow: scroll;
}

.hr {
    width: 100%;
    border-top: 1px solid black;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#categories {
    display: flex;
    width: 50%;
}

.category-wrapper {
    position: relative;
    
}

.category {
    
    box-shadow: 10px 10px burlywood ;
    background-color: yellow;
    width: 200px;
    height: 200px;
    margin: 1rem;
    cursor: pointer;
    position: relative;
}

.category .title {
    position: absolute;
    top: 5px;
    z-index: 100;
    background-color: aliceblue;
    padding-bottom: 0.8rem;
    padding-top: 0.8rem;
    text-align: center;
    display: block;
    width: 100%
}

.category .img {
    height: 100%;
    background-color: red;
    overflow: hidden;
}

.coding-background img {
    transform: rotate3d(1, 1, 1, 45deg) translateX(-100px);
}


@keyframes test {
    from { transform: scale(1) }
    to { transform: scale(1.2) }
}

.category:hover {
    animation-name: test;
    animation-duration: 2s;
    outline: 1px solid black;
}

#tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tile-wrapper {
    position: relative;
}
.tile {
    &:hover {
        animation-name: test;
        animation-duration: 2s;
        outline: 1px solid black;
    }
    box-shadow: 10px 10px burlywood ;
    background-color: white;
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 1rem;
    cursor: pointer;
    position: relative;

    border-right: 2px solid black;
    border-bottom: 2px solid black;

    &.project-tile {
        width: 400px;
        height: 400px;
    }
}

.drawing-tile {
    .img {
        width: 200px;
        height: 200px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img {
        width: 200px;
    }
}

.project-tile {
    .name {
        text-align: center;
        height: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .name, .description {
        margin: 5px;
        outline: 1px black solid;
        padding: 5px;
    }   
    .description {
        height: 110px;
        overflow: hidden;
    }
    .metadata {
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        font-size: 0.8rem;
        padding: 5px;
    }
    .language {
        background-color: khaki;
    }
    .forks-count, .watchers-count, .issues-count {
        background-color: greenyellow;
    }
    .forks-count, .watchers-count, .issues-count, .language {
        
        border-radius: 10%;
        display: inline;
        padding: 5px;
    }
}