@import "_config";

.overview {
    padding-top: $min-size * 5;
    padding-left: $min-size * 10;
    padding-right: $min-size * 10;
    background-color: white;

    .nav {
        position: fixed;
        top: 0;
        left: 0;
    }

    .list {
        width: calc(#{$min-size} * 30 * 3 + #{$min-size} * 4);
        margin-left: auto;
        margin-right: auto;

        .list-item {
            margin-bottom: $min-size * 5;
            position: relative;

            .more {
                transform: rotate(90deg);
                position: absolute;
                top: $min-size * 15;
                right: -($min-size * 20);
            }
            .body ~ .body {
                margin-left: $min-size * 3;
            }
            h1 {
                text-align: center;
                font-size: $min-size * 3;
                margin-bottom: $min-size;
                position: relative;

                .btn {
                    font-size: $min-size * 2;
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }

            .body {
                //box-shadow: 0 0 5px $base;
                width: $min-size * 30;
                height: $min-size * 30;
                overflow: hidden;
            }
            
            .body-row {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;

                .body {
                    cursor: pointer;

                    > div {
                        padding: 2px;
                    }
                }
            }
        }
    }
}

.blogpost-small {
    .cover-image {
        img {
            width: 100%;
            height: auto;
        }
    }
    
    font-size: $min-size * 1.5;

    .title {
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-family: "Monda-Bold";
        margin-bottom: $min-size * 0.5;
    }
}

.project-small {
    font-size: $min-size * 1.5;

    .name {
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-family: "Monda-Bold";
        margin-bottom: $min-size * 0.5;
    }

    .description {
        img {
            width: 100%;
        }
    }
}

.drawing-small {
    img {
        width: 100%;
    }
}