@import "_config";

.overview {
    padding-top: $min-size * 5;
    padding-left: $min-size * 10;
    padding-right: $min-size * 10;
    background-color: white;

    .nav {
        position: fixed;
        top: 0;
        left: 0;
    }

    .list {
        width: 70%;
        margin-left: auto;
        margin-right: auto;

        .list-item {
            margin-bottom: $min-size * 5;
            position: relative;

            .more {
                transform: rotate(90deg);
                position: absolute;
                top: $min-size * 15;
                right: -($min-size * 20);
            }
            .body ~ .body {
                margin-left: $min-size * 3;
            }
            h1 {
                text-align: center;
                font-size: $min-size * 3;
                margin-bottom: $min-size;
                position: relative;

                .btn {
                    font-size: $min-size * 2;
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }

            .body {
                //box-shadow: 0 0 5px $base;
                width: $min-size * 30;
                height: $min-size * 30;
                overflow: hidden;
            }
            
            .body-row {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;

                .body {
                    cursor: pointer;

                    > div {
                        padding: 2px;
                    }
                }
            }
        }
    }
}

.blogpost-small {
    position: relative;
    height: 100%;

    .cover-image {
        img {
            width: 100%;
            height: auto;
        }
    }
    
    font-size: $min-size * 1.5;

    .title {
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-family: "Monda-Bold";
        margin-bottom: $min-size * 0.5;
    }

    .metadata {
        padding-right: 5px;
        height: 24px;
        position: absolute;
        right: 0;
        bottom: 10px;
        background-color: white;
        border-radius: 20%;

        .data {
            display: inline-block;
            padding: 2px;

            &:hover {
                box-shadow: 0 0 10px black;
                border-radius: 20%;
            }
            
            .icon {
                background-size: contain;
                width: 20px;
                height: 20px;
                float: left;

                &.heart {
                    background-image: url("/assets/heart.png");
                }
    
                &.thumbsup {
                    background-image: url("/assets/thumbsup.png");
                }

                &.share {
                    background-image: url("/assets/share.png");
                }
            }
        }
    }
}

.project-small {
    font-size: $min-size * 1.5;

    .name {
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-family: "Monda-Bold";
        margin-bottom: $min-size * 0.5;
    }

    .description {
        img {
            width: 100%;
        }
    }
}

.drawing-small {
    img {
        width: 100%;
    }
}

@import "overview-breakpoints";