@import "_config";

.projects {
    h1 {
        text-align: center;
        margin-bottom: 20px;
    }
    background-color: white;
}

.project-tile {
    width: $min-size * 40;
    height: $min-size * 40;
    overflow: hidden;
    position: relative;
    padding: $min-size * 0.5;
    margin-bottom: $min-size * 2;
    cursor: pointer;

    .edge {
        position: absolute;
        width: $min-size * 3;
        height: $min-size * 3;

        &.upper-left {
            border-top: 2px solid $base;
            border-left: 2px solid $base;
    
            top: 0;
            left: 0;
        }
    
        &.lower-right {
            border-right: 2px solid $base;
            border-bottom: 2px solid $base;
            bottom: 0;
            right: 0;
        }
    }


    img {
        width: 100%;
        height: auto;
    }
    
    font-size: $min-size * 1.5;

    .title {
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-family: "Monda-Bold";
        margin-bottom: $min-size * 0.5;
    }

    .metadata {
        font-size: $min-size;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .btn {
        width: 100%;
    }
}